.about-image {
    width: 15em;
    height: 15em;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.about-image-desc {
    display: block;
}

.centered {
    justify-content: center;
    display: flex;
}