.project-container {
    margin-top: -5px;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-family: Calibri, sans-serif;
    border-style: solid;
    border-width: 2px;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid #6c9dda;
    background-color: #fff;
    color: #18375e;
  }
  
  .project-title {
    display: inline-block;
    font-size: 1.5em;
    padding-left: 1em;
    color: #18375e;
  }
  
  .project-desc {
    display: inline;
    font-size: 20px;
  }
  
  .project-links {
      text-decoration: none;
      color: inherit;
  }
  
  .project-button {
      display: inline-block;
      font-size: 1em;
      border: none;
      background-color: #d3e7ff;
      border-radius: 1em;
      color:#18375e;
      padding: 0.5em;
      margin: 0.5em;
      transition-duration: 0.4s;
      cursor: pointer;
  }
  
  .project-button:hover {
      background-color: #6c9dda;
      cursor: pointer; 
  }

  .project-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: 10em;
    border-radius: 1em;
    object-fit: cover;
    border: 0.2em solid #6c9dda;
    margin: 0.5em;
  }

  .centered {
    justify-content: center;
    display: flex;
  }